body {
  background-image: url("https://cdn.shopify.com/s/files/1/0222/9748/products/P1000454.JPG?v=1449169649");
  background-size: cover;
}
h5 {
  font-size: 70px;
}
h2 {
  clear:left;
}
h3 {
  font-size: 70px;

}
.dice {
  border:#999 1px solid;
  text-align: center;
  width: 235px;
  height:235px;
  margin: 5px;
  font-size: 140px;
}
.total {
  border:#999 1px solid;
  text-align: center;
  width: 135px;
}
#pit {
  background-color: #FFF58A;
}
#git {
  background-color: #FFA3D9;
}
.fit {
  color: #E05256;
  text-align:center;
}
#lit {

}
