h2 {
  clear:left;
}
.dice {
  border:#999 1px solid;
  text-align: center;
  width: 35px;
  margin: 5px;
}
.total {
  border:#999 1px solid;
  text-align: center;
  width: 135px;
}
#pit {
  background-color: #FFF58A;
}
#git {
  background-color: #FFA3D9;
}
.fit {
  color: #E05256;
}
